name: Continuous Integration

on:
  push:
    branches:
      - '*'
      - '!main' # Exclude the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Maven (skip tests)
        run: mvn -B clean package -DskipTests --file pom.xml
